
@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>Your Account Verification is Pending!!</h2>
@*<h2 class="row justify-content-center">Login To Your Account</h2>*@
<section>
    <div class="container-fluid">
        <div class="row">
            <center>
                <img src="~/images/pending-round-grunge-black-stamp-vector-16251935.jpg" />
            </center>
        </div>
    </div>
</section>

@*<img src="~/images/pending-round-grunge-black-stamp-vector-16251935.jpg" class="row justify-content-center" width="500" height="500" />*@

