
@{
    ViewBag.Title = "Reject";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>Your Application for Raising Donations has been rejected as the ID proof submitted by you was not valid. </h2>
@Html.ActionLink("Click Here to Resubmit Your Application","verification")

