
@{
    ViewBag.Title = "verified";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>Your Account Is Verified!</h2>
<h2>You can now Raise Donations.</h2>
@*<h3>@Html.ActionLink("Click Here To Raise Donations.", "RaiseDonation")</h3>*@


