@model CharityManagement.Models.EmailModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table th, table td {
        padding: 5px;
    }
</style>
<body>
    <div>
    </div>
</body>

